{% extends "layout.html.twig" %}


{% block content %}
    <div class="container" style="margin-top:20px;">
        <div class="flight-list listing-style3 flight">
            <div class="col-sm-4 col-md-3 non-mobile">
                <div class="search-results-title" style="padding-bottom: 10px; padding-top: 10px;" ng-controller="searchCtrl" ng-init="initSearch('{{ search|json_encode()  }}')">
                    <h4 class="panel-title">
                        <h4><i class="soap-icon-search"></i> Your Search</h4>
                    </h4>
                    <div id="modify-search-panel">
                        <div class="panel-content">
                            <form autocomplete="off" method="POST" action="/index.php/searchFlies" ng-submit="submitSearchFlies()">
                                <input type="hidden" name="lang" value="[[country.lang]]"/>
                                <input type="hidden" name="country" value="[[country.name]]"/>
                                <input type="hidden" name="currency" value="[[country.currency]]"/>
                                <input type="hidden" name="departureName" value="[[cityName]]"/>
                                <div class="form-group" style="position: relative;">
                                    <label>Leaving from</label>
                                    <input type="text" ng-model="cityFrom" name="city" placeholder="city, distirct or specific airpot" uib-typeahead="address as address.name for address in getLocation($viewValue) | limitTo:5" typeahead-min-length="2" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="input-text full-width">
                                </div>
                                <div class="form-group">
                                    <label>Departure on</label>
                                    <div class="datepicker-wrap">
                                        <input type="text"  name="departure" value="[[departure]]" class="input-text full-width" ng-model="departure" placeholder="yyyy/mm/dd" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Arriving On</label>
                                    <div class="datepicker-wrap">
                                        <input type="text"  name="return" value="[[return]]" class="input-text full-width" ng-model="return" placeholder="yyyy/mm/dd" />
                                    </div>
                                </div>
                                <button class="btn-medium icon-check uppercase full-width">search again</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="search-results-title filters-container" ng-controller="filterDataCtrl">
                    <div class="style1 arrow-right" style="padding-bottom: 10px; padding-top: 10px;">
                        <h4 class="panel-title">
                            <h4><i class="soap-icon-clock"></i> Flight Times</h4>
                        </h4>
                        <div id="flight-times-filter">
                            <div class="panel-content">
                                <label>Departure Time</label>
                                <div rg-range-picker="timeRangePickerDeparture"></div>
                                <label style="margin-top:10px;">Return Time</label>
                                <div rg-range-picker="timeRangePickerReturn"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-9" style="margin-bottom: 55px;">
                {% for key,route in routes %}
                    <div class="box" ng-controller="fliesResultsCtrl" ng-init="initRoute('{{ route|json_encode()  }}', '{{ key }}', '{{ search|json_encode() }}')">
                       <div class="details col-xs-12">
                            <div class="details-wrapper">
                                <div class="first-row">
                                    <div>
                                        <h4 class="box-title">{{ route['origin']['name'] }}  to {{ route['destination']['name'] }}
                                            <small>{{ route['origin']['countryName']}} to {{ route['destination']['countryName']}}</small>
                                        </h4>
                                        </a>
                                    </div>
                                    <div style="border-right: none;">
                                        <span style="margin:0 10px 15px 0;" class="price"><small>Price per person</small>{{ route['minPrice'] }}</span>
                                    </div>
                                </div>
                                <div class="second-row" ng-show="loadingFlights">
                                    <div style="width:80%;">
                                        <div style="margin: 20px 0 20px 0; text-align: center;">
                                            <small>Loading flights</small>
                                            <img src="/assets/images/gif/planesLoading.gif" alt="loading" />
                                        </div>
                                    </div>
                                </div>
                                <div class="second-row" ng-show="!loadedFlights && !loadingFlights">
                                    <div style="width:80%;">
                                        <div style="margin: 20px 0 20px 0;">
                                            <button class="btn-medium soap-icon-plane" ng-click="loadFlight()">See flights</button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="loadedFlights && !loadingFlights" ng-repeat="flight in flights">
                                    <div ng-show="showFlight(flight, $index)"  class="second-row">
                                        <div style="border-bottom: 1px solid #f5f5f5;  padding-bottom: 3px; width: 80%;">
                                            <div class="take-off col-sm-6">
                                                <div>
                                                    <div style="display: inline-table;">
                                                        <img ng-src='[[flight.departureAirlineImg | trusted]]' width="60px" style="padding-top: 5px;" alt="[[flight.departureAirline]]"/>
                                                    </div>
                                                    <div style="display: inline-table; vertical-align: top; padding-left: 5px;">
                                                        <span class="skin-color">
                                                            [[flight.departureFromCity]] to [[flight.departureToCity]]<br />
                                                            [[flight.departureTimeDate | date:'MM/dd/yyyy HH:mm']]
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="landing col-sm-6">
                                                <div>
                                                    <div style="display: inline-table;">
                                                        <img ng-src='[[flight.returnAirlineImg | trusted]]' width="60px" style="padding-top: 5px;" alt="[[flight.returnAirline]]"/>
                                                    </div>
                                                    <div style="display: inline-table; vertical-align: top;padding-left: 5px;">
                                                        <span class="skin-color">
                                                            [[flight.returnFromCity]] to [[flight.returnToCity]]<br />
                                                            [[flight.returnTimeDate | date:'MM/dd/yyyy  HH:mm']]
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="border-right: none; border-bottom: 1px solid #f5f5f5; padding-bottom: 20px; padding-top:5px;">
                                            <div class="col-sm-4" style="padding-left: 20px; min-width: 100px;">
                                                <div>
                                                    <span class="small">Get it for:</span>
                                                    <a href="[[flight.urlBooking]]" target="_blank" rel="nofollow" class="btn btn-success" style="width: 100px;" type="button">[[flight.price]]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}





